%h4
  .container-fluid
    .navbar.navbar-expand-sm.bg-dark.navbar-light
      .navbar-nav
        .nav-item
          .nav-link
            = link_to "Huli Landing Page", root_path
            = link_to "Projects", projects_path
            = link_to "Teams", teams_path
            = link_to "Apprentices", members_path
            = link_to "Add new Team", new_team_path
            = link_to "Add new Project", new_project_path
            = link_to "Add new Member", new_member_path