!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Huli Landing Page
    = csrf_meta_tags
    = stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css'
  %body
    - if notice
      %p.alert.alert-success
        = notice
    - if alert
      %p.alert.alert-danger
        = alert
    %p.navbar-text.pull-right
      - if user_signed_in?
        Logged in as
        = succeed "." do
          = current_user.email
          = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
          = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
      - else
        = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
        = link_to "Login", new_user_session_path, :class => 'navbar-link'
    = yield
